section {
    /* position: absolute; */
    z-index: 99;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
}